body {
  margin: 0;
  color: #1515d4ff;
}
h1 {
  margin-top: 20px;
  text-align: center;
}
.section {
  display: flex;
  text-align: center;
}
.section img {
  width: 90%;
  height: 200px;
  background-color: #000000ff;
  border-radius: 7%;
  border: 1px solid #000000a7;
  color: white;
  margin: 20px 0;
  overflow: hidden;
  transition: transform 0.5s ease;
}
.block {
  background: linear-gradient(to right, #0a60ffc1, #ffffffff);
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5%;
  width: 290px;
  padding: 20px;
  transition: transform 0.5s ease;
  border: 1px solid #000000ff;
}
.block:hover {
  transform: scale(1.1);
}
.block h2 {
  margin: 0 auto;
  font-size: 30px;
}
.coba {
  background: linear-gradient(to right, #fff82aff, #f80b0b);
  color: white;
  border: none;
  padding: 12px;
  width: 80%;
  border: 1px solid #000000ff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.coba:hover {
  background: linear-gradient(to right, #d4c02aff, #ba1717ff);
}
.tombol {
  margin-top: 20px;
}
.warna {
  color: #fff;
  background: #000;
  transition: background 0.5s, color 0.5s;
}
